 .u-section-1 {
  background-image: url("images/e6f9f705722ed705acc10900e8279a95e1e6615ca14d28d038da300b1008828fd42200ae28251fbe9954cad7f7886f9d155df865183dd74a8184cf_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-group-1 {
  min-height: 409px;
  background-image: none;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 17px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 44px 33px 0;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  line-height: 0.8;
  text-transform: uppercase;
  font-family: "Changa One";
  font-weight: 400;
  margin: 8px 33px 0;
}

.u-section-1 .u-image-1 {
  width: 289px;
  height: 289px;
  object-position: 100% 50%;
  background-image: url("images/0996b35c69d70e40e0ff87dd869ed3cb0d6627d0974d799bcaa4c22ab98689f541189e7327814a61bfd2a31ddbea98db07be23453ec2d898c6e8e5_1280.jpg");
  background-position: 100% 50%;
  margin: -113px 348px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -61px 406px 0 auto;
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.375em;
}

.u-section-1 .u-image-2 {
  width: 283px;
  height: 283px;
  background-image: url("images/90c3c64ddf4162297e7831c0574fabd81dd3c3acf293ab7cc77d344eb61edeb21920851bc7d48c0450301073e34f626419fea8246d68b89f07a67d_1280.jpg");
  background-position: 50% 50%;
  margin: -260px 26px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -58px 78px 0 auto;
  padding: 0 30px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.375em;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 1.25rem;
  margin: -134px 710px 0 33px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: 26px auto 0 88px;
  padding: 0 12px;
}

.u-section-1 .u-icon-3 {
  font-size: 2.5626em;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -11px 78px 0 846px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -36px 401px 0 523px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 160%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-group-1 {
    min-height: 605px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 58px;
    margin-right: auto;
    margin-left: 139px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -382px;
    margin-right: 81px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 64px;
    margin-right: 136px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -512px;
    margin-right: 56px;
    margin-left: 323px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
    margin-right: 292px;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 31px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 300px;
    margin-right: 131px;
    margin-left: 593px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 590px;
    margin-left: 134px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 672px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 92px;
    margin-left: 41px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -335px;
    margin-right: 52px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-right: 102px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -541px;
    margin-right: 23px;
    margin-left: 296px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 396px;
    margin-right: 92px;
    margin-left: 446px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 439px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 605px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 227px;
    height: 227px;
    margin-top: 138px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-left: 27px;
  }

  .u-section-1 .u-image-2 {
    width: 223px;
    height: 223px;
    margin-top: -283px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 25px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -505px;
    margin-right: 0;
    margin-left: 189px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 313px;
    margin-right: 51px;
    margin-left: 308px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 306px;
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 160%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 9px;
    margin-bottom: 9px;
    min-height: 551px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 16px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.625rem;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-1 {
    width: 110px;
    height: 110px;
    margin-top: 283px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -156px;
    margin-left: 22px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 110px;
    height: 110px;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -151px;
    margin-right: 16px;
    padding-right: 11px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -253px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 192px;
    margin-right: 14px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 161px;
    margin-left: 20px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 250px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 250px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Changa One";
  margin: 45px 0 0;
}

.u-section-2 .u-line-1 {
  width: 150px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 24px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 24px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 250px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 9px 129px 0 25px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 0 20px;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: -84px 9px 0 auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  color: rgb(70, 138, 201) !important;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 16px;
    margin-left: 6px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 38px;
    margin-left: 3px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 51px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -41px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-2 .u-line-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -64px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -98px;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 2px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -98px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -15px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 1px;
  }
} .u-section-3 {
  background-image: url("images/d669a28d8fa41aeea6c7eadd8d16340c7898743289e05e37f773412a49b6bf83b1db497cb8c37937d50a4080c7f6987e5c387dd839fd060140c10b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 698px;
}

.u-section-3 .u-group-1 {
  min-height: 444px;
  background-image: none;
  width: 525px;
  margin: 60px auto 60px 15px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-3 .u-text-1 {
  font-family: "Changa One";
  letter-spacing: normal;
  line-height: 1;
  font-size: 5rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none double;
  font-size: 1.25rem;
  margin: 18px auto 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 29px;
  height: 29px;
  margin: -33px auto 0 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 57.41% 60.67%;
    background-size: auto 115%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-group-1 {
    min-height: 375px;
    margin-top: 302px;
    margin-bottom: 33px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-3 .u-group-1 {
    min-height: 484px;
    margin-top: 319px;
    margin-bottom: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 20px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 886px;
}

.u-section-4 .u-text-1 {
  font-family: "Changa One";
  letter-spacing: normal;
  line-height: 1;
  font-size: 5rem;
  font-weight: 400;
  margin: 59px 48px 0 81px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 275px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 6px 11px 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 12px 12px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 275px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 5px 1px 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  margin: 12px 4px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 299px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 24px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 6px auto 0;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 14px 0 0 12px;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  margin: 12px 0 0 14px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 299px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-13 {
  font-style: italic;
  margin: 12px 0 0 4px;
}

.u-section-4 .u-image-1 {
  min-height: 549px;
  background-image: url("images/358e430b75ec0f90418beb6a69e85c1c0529e10e2704a7eec5c75b99cc6929e5462b2e5f79fe34826445ea7658cefdb782fe91d2bcefb98713ed64_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 247px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1337px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 33px;
    font-size: 3rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 56px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 229px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 293px;
  }

  .u-section-4 .u-image-1 {
    min-height: 608px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 456px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 287px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 445px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 554px;
  margin: 40px auto 0;
}

.u-section-5 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 0 auto 40px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 445px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-form-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 605px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 502px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 34px 30px 1px;
}

.u-section-6 .u-text-1 {
  margin: 159px 49px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 27px 49px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 30px auto 0 49px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 502px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-text-3 {
  font-family: "Changa One";
  letter-spacing: normal;
  line-height: 1;
  font-size: 5rem;
  font-weight: 400;
  margin: -496px 0 60px 65px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 1px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 110px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -425px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 19px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 144px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 36px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -477px;
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 9px;
    margin-right: 167px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -739px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 71px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -688px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 304px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 15px 249px 0 277px;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 30px auto 0 480px;
}

.u-section-7 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 23px auto 0 451px;
  padding: 0;
}

.u-section-7 .u-icon-3 {
  color: rgb(70, 138, 201) !important;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 13px auto 0 457px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 149px;
    margin-left: 177px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-7 .u-icon-2 {
    color: rgb(0, 230, 118) !important;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 7px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-7 .u-social-icons-1 {
    margin-top: 24px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}